@import 'varaibles.css';

.btn1 {
    padding: 16px 50px;
    width: 140px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn1-grey {
    background-color: white;
    color: black;
    border: 2px solid var(--grey);
}

.btn1-grey:hover {
    background-color: var(--grey);
}

.btn2 {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.btn2-green {
    background-color: var(--green);
}

.btn2-green:hover {
    background-color: var(--green-hover);
}

.btn2-red {
    background-color: var(--red);
}

.btn2-red:hover {
    background-color: var(--red-hover);
}

.btn2-blue {
    background-color: var(--blue);
}

.btn2-blue:hover {
    background-color: var(--blue-hover);
}

.btn2-grey {
    background-color: var(--selected);
}

.btn-icon {
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 14px;
    background-color: white;
    cursor: pointer;
}
