.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-end {
    display: flex;
    justify-content: end;
}

.flex-align {
    display: flex;
    align-items: center;
}

.flex-center-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-width {
    width: 100% !important;
}
