/* Global */
.sidenav {
    width: 15%;
}

.container {
    margin-top: 20px;
}

.modal-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.form-container {
    margin: 20px 0 20px 0;
}

.opening-title {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    text-transform: capitalize;
}

/* Board */
.board-container {
    display: flex;
    justify-content: center;
}

.board {
    margin-right: 30px;
    width: 600px;
}

/* Moves */
.buttons {
    display: flex;
    justify-content: center;
}

.btn-sep {
    margin-right: 20px;
}

.text-moves {
    display: block;
    margin-bottom: 10px;
}

.moves {
    overflow-y: scroll;
    height: 486px;
    max-width: 320px;
    min-width: 320px;
    margin-bottom: 30px;
}

/* Actions */
.action {
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;
}

.correct {
    color: #4CAF50;
}

.not-correct {
    color: #ff1a1a;
}

/* Modal */
.switch-color {
    margin: 50px 0 50px 0;
}

.error-message {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: #ff1a1a;
}
