@import 'varaibles.css';

.sidenav {
    height: 98%;
    width: 20%;
}

.container {
    margin-top: 20px;
}

.modal-container {
    margin-top: 20px;
}

.form-container {
    margin: 20px 0;
}

.opening-title {
    margin-bottom: 50px;
    text-transform: capitalize;
}

/* Board */
.pgn-container {
    text-align: center;
}

.png-area {
    height: 200px;
    width: 600px;
}

.board-container {
    margin-left: 25%;
}

.board {
    margin-right: 30px;
    width: 600px;
}

/* Moves */
.btn-sep {
    margin-right: 20px;
}

.text-moves {
    display: block;
    margin-bottom: 10px;
}

.moves {
    overflow-y: scroll;
    height: 486px;
    max-width: 320px;
    min-width: 320px;
    margin-bottom: 30px;
}

/* Actions */
.action {
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

.btn-tip {
    margin-right: 20px;
}

.correct {
    color: var(--green);
}

.not-correct {
    color: var(--red);
}

/* Modal */
.switch-color {
    margin: 50px 10px;
}

.error-message {
    margin-top: 10px;
    color: var(--red);
}

/* Explorer */
.opening-explorer {
    margin-left: 10px;
}

.explorer-title {
    font-weight: bold;
}

.folder-text {
    margin-left: 5px;
}

.opening-link {
    margin-left: 20px;
    width : 240px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
}

.explorer-action:hover {
    background-color: var(--light-grey)
}
